body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.hello1 {
  background-color: red;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
